body {
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2368c8f7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 100vh;
  font-size: 1.2rem;
  font-family: monospace;
}

.whole-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score-container .title::first-letter {
  color: #09f;
}

.user-info-container {
  border: solid 2px #000;
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.user-info-container a {
  padding: 0.5em;
  margin-top: 10px;
  width: 5em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.user-info-container a i {
  margin-left: 0.3em;
}

.user-info-container input {
  padding: 0.8em;
  border: solid 1px #09f;
  border-radius: 10px;
}

.user-info-container input::-webkit-input-placeholder {
  color: black;
}

.user-info-container input:-ms-input-placeholder {
  color: black;
}

.user-info-container input::-ms-input-placeholder {
  color: black;
}

.user-info-container input::placeholder {
  color: black;
}

.save-btn {
  background-color: #09f;
  color: #fff;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.save-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home-btn {
  background-color: #000;
  color: #fff;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.home-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home-btn::first-letter {
  color: #09f;
}

.home-btn i {
  color: #09f;
}
/*# sourceMappingURL=endPage.css.map */