$blue: #09f;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    @include flexCenter();
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2368c8f7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}
.whole-container{
    background-color: #fff;
    border: #eee solid 1px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0 , 0.4);
    
}
.score-container{
    @include flexCenter();
    flex-direction: column;

    h2{
        font-size: 2.5em;
        color: $blue;
    }

    .score{
        font-size: 2.8em;
        color: $blue;
    }
}

.question-container{
    padding: 1em;
}

.answer{
    cursor: pointer;
    padding: 0 1em 0 1em;
    display: flex;
    transition: transform 200ms ease-out;

    &:hover{
        transform: scale(1.01);
    }
    

    p{
        padding: 1em;
        box-shadow: 3px 2px 2px rgba(0, 0, 0 , 0.2);
    }
    .res{
        width: 100%;
    }

    .num{
        background-color: $blue;
        color: #fff;
    }
}